services:

#PLC
  plc1:
    pull_policy: never
    container_name: plc1
    build:
      context: ./plc
      dockerfile: Dockerfile
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "test", "-f", "/tmp/.plc_ready"]
      interval: 2s
      timeout: 1s
      retries: 30
      start_period: 5s
    depends_on:
      ziti-tunneler-plc1:
          condition: service_healthy
    network_mode: service:ziti-tunneler-plc1

  plc2:
    pull_policy: never
    container_name: plc2
    build:
      context: ./plc
      dockerfile: Dockerfile
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "test", "-f", "/tmp/.plc_ready"]
      interval: 2s
      timeout: 1s
      retries: 30
      start_period: 5s
    depends_on:
      ziti-tunneler-plc2:
          condition: service_healthy
    network_mode: service:ziti-tunneler-plc2

  plc3:
    pull_policy: never
    container_name: plc3
    build:
      context: ./plc
      dockerfile: Dockerfile
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "test", "-f", "/tmp/.plc_ready"]
      interval: 2s
      timeout: 1s
      retries: 30
      start_period: 5s
    depends_on:
      ziti-tunneler-plc3:
          condition: service_healthy
    network_mode: service:ziti-tunneler-plc3

  plc4:
    pull_policy: never
    container_name: plc4
    build:
      context: ./plc
      dockerfile: Dockerfile
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "test", "-f", "/tmp/.plc_ready"]
      interval: 2s
      timeout: 1s
      retries: 30
      start_period: 5s
    depends_on:
      ziti-tunneler-plc4:
          condition: service_healthy
    network_mode: service:ziti-tunneler-plc4
      
# HIL
  hil1:
    pull_policy: never
    container_name: hil1
    build:
      context: ./hil
      dockerfile: Dockerfile
    environment:
      - plc=1
    depends_on:
      plc1:
        condition: service_healthy
      ziti-tunneler-hil1:
          condition: service_healthy
    network_mode: service:ziti-tunneler-hil1

  hil2:
    pull_policy: never
    container_name: hil2
    build:
      context: ./hil
      dockerfile: Dockerfile
    environment:
      - plc=2
    depends_on:
      plc2:
        condition: service_healthy
      ziti-tunneler-hil2:
          condition: service_healthy
    network_mode: service:ziti-tunneler-hil2

  hil3:
    pull_policy: never
    container_name: hil3
    build:
      context: ./hil
      dockerfile: Dockerfile
    environment:
      - plc=3
    depends_on:
      plc3:
        condition: service_healthy
      ziti-tunneler-hil3:
          condition: service_healthy
    network_mode: service:ziti-tunneler-hil3

  hil4:
    pull_policy: never
    container_name: hil4
    build:
      context: ./hil
      dockerfile: Dockerfile
    environment:
      - plc=4
    depends_on:
      plc4:
        condition: service_healthy
      ziti-tunneler-hil4:
          condition: service_healthy
    network_mode: service:ziti-tunneler-hil4

# SCADA
  scada:
    pull_policy: never
    container_name: scada
    build:
      context: ./scada
      dockerfile: Dockerfile
    volumes:
      - scada:/opt/ScadaBR/tomcat/webapps/ScadaBR/db
    depends_on:
      plc1:
        condition: service_healthy
      plc2:
        condition: service_healthy
      plc3:
        condition: service_healthy
      plc4:
        condition: service_healthy
      ziti-tunneler-scada:
          condition: service_healthy
    network_mode: service:ziti-tunneler-scada

volumes:
  scada:

networks:
  ziti:
    driver: bridge




