services:
  logingateway:
    container_name: logingateway
    build:
      context: .
      dockerfile: webauth/logingateway/Dockerfile
    environment:
      DATABASE_URL: "postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@ziti.db:5432/app"
      SECRET_KEY: ${SECRET_KEY_GATEWAY}
      PYTHONPATH: /app/logingateway
    depends_on:
      ziti-tunneler-logingateway:
        condition: service_healthy
    network_mode: service:ziti-tunneler-logingateway

  ziti-tunneler-logingateway:
    image: ${ZITI_ROUTER_IMAGE:-openziti/ziti-router}
    container_name: ziti-tunneler-logingateway
    depends_on:
      ziti-tunneler-logingateway-init:
        condition: service_completed_successfully
    volumes:
      - ziti-logingateway:/ziti-router
      - ./ziti/enroll.sh:/ziti-router/enroll.sh
    entrypoint: [ "/ziti-router/enroll.sh" ]
    environment:
      ZITI_CTRL_ADVERTISED_ADDRESS: ${ZITI_CTRL_ADVERTISED_ADDRESS:-}
      ZITI_CTRL_ADVERTISED_PORT: ${ZITI_CTRL_ADVERTISED_PORT:-}
      ZITI_ROUTER_ADVERTISED_ADDRESS: ${ZITI_ROUTER_ADVERTISED_ADDRESS:-ziti-tunneler-logingateway}
      ZITI_ROUTER_PORT: ${ZITI_ROUTER_PORT:-3022}
      ZITI_ROUTER_MODE: ${ZITI_ROUTER_MODE:-tproxy}
      ZITI_AUTO_RENEW_CERTS: true
      ZITI_ROUTER_TYPE: ${ZITI_ROUTER_TYPE:-edge}
    command: run config.yml
    ports:
      - 5500:5000
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - ziti
        - agent
        - stats
      interval: 3s
      timeout: 3s
      retries: 5
      start_period: 15s
    dns:
      - 127.0.0.1
      - 1.1.1.1
    user: root
    cap_add:
      - NET_ADMIN
    networks:
      - ziti

  ziti-tunneler-logingateway-init:
    container_name: ziti-tunneler-logingateway-init
    image: "openziti/ziti-cli:latest"
    user: root
    environment:
      - ZITI_USER=${ZITI_USER:-admin}
      - ZITI_PWD=${ZITI_PWD}
      - ZITI_CTRL_EDGE_ADVERTISED_PORT=${ZITI_CTRL_EDGE_ADVERTISED_PORT:-}
      - PLC=-logingateway
    entrypoint: [ "/bin/sh", "/bootstrap.sh" ]
    depends_on:
      ziti-controller:
        condition: service_healthy
    volumes:
      - ziti-logingateway:/ziti-router
      - ./webauth/logingateway/bootstrap_tunneler_logingateway.sh:/bootstrap.sh
    networks:
      - ziti

volumes:
  ziti-logingateway: